<!DOCTYPE html>
<html ng-app="search.module">
<head>
	<title></title>
	<style type="text/css">
		.container{
			padding-left:200px
		}
		.cardList{
			width: 100%;
			padding: 25px;
			list-style: none;

		}
		.card{
			width: 25%;
			height: 200px;
			background-color: #ececec;
			float: left;
			padding: 10px;
		}
		.card-href{
			display: block;
			width: 100%;
			height: 100%;
		}
		.card-img{
			width: 100%;
			height: 100%;
		}
		.pertyIndex{
			background: black;
			color: white;
			position: absolute;
			padding: 5px;
			font-weight: bold;
		}
	</style>

	
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDs4QGFiUhr_M9mhmA3PSR6c2T0N6HroZA"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../bootstrap/bootstrap-material-datetimepicker.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="../bootstrap/bootstrap-material-datetimepicker.js"></script>

	<script type="text/javascript" src="search.js"></script>


</head>
<body ng-controller="searchController" date-picker>

	<div ng-controller="searchController" layout="column" ng-cloak>
		<md-content class="md-padding">
			<form ng-submit="$event.preventDefault()">
				<md-autocomplete
				id='Auto'
				ng-disabled="isDisabled"
				md-no-cache="noCache"
				ng-enter="presEnter();"
				md-selected-item="selectedItem"
				md-search-text-change="searchTextChange(searchText)"
				md-search-text="searchText"
				md-selected-item-change="selectedItemChange(item)"
				md-items="item in querySearch(searchText)"
				md-item-text="item.display"
				md-min-length="0"
				placeholder="US State?">
  <!--      <md-item-template>
         <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
     </md-item-template> -->
     <md-item-template>
     	<span md-highlight-text="item.value" md-highlight-flags="^i">{{item.display}}</span>
     </md-item-template>
     <md-not-found>
     	No states matching "{{searchText}}" were found.
     	<a ng-click="newState(searchText)">Create a new one!</a>
     </md-not-found>
 </md-autocomplete>

 <hr/>
 <div class="container">
 	<input ng-model="searchobj.location" geo-lat="searchobj.lat" geo-lon="searchobj.lon" type="text"   id="txtautocomplete"  placeholder="location autocomplete" google-location-autocomplete>
 	<input  ng-model="searchobj.startdate" name="date" type="text" class="datepicker" ng-model='filterobj.date'  placeholder="OR SELECT DATE"/>	
 </div>
 <hr/>
<!--  <md-checkbox ng-model="simulateQuery">Show progress for results?</md-checkbox>
 <md-checkbox ng-model="noCache">Disable caching?</md-checkbox>
 <md-checkbox ng-model="isDisabled">Disable?</md-checkbox>
--> 
<md-radio-group layout="row" ng-model="searchobj.type">
	<md-radio-button value="party" class="md-primary">Party</md-radio-button>
	<md-radio-button value="profile" class="md-primary">Profile</md-radio-button>
</md-radio-group>

<md-radio-group layout="row" ng-model="searchobj.sort">
	<md-radio-button value="r" >Recomended</md-radio-button>
	<md-radio-button value="t"> Trending </md-radio-button>
	<md-radio-button value="n">Near you</md-radio-button>
</md-radio-group>
<hr/>
<hr/>


<ul class="cardList">
	<li class="card" ng-repeat="card in cards track by $index">

		<p class="pertyIndex">{{card._source.profile_type==undefined?(card._source.startdate|date:'dd/MM/yyyy - h:mma'):card._source.profile_type}}</p>
		<a  target="_blank" ng-href="{{card._source.profile_type==undefined ? './party.html?id='+card._id:'./profile.html?id='+card._id}}" class="card-href">
			<img class="card-img" src="{{card._source.banner||card._source.cover}}"/>

		</a>
	</li>
</ul>

<div scroll-directive="loadMore(searchobj)" infinite-scroll-distance="1.2" style="height: 300px;width: 100%;background-color: green;    float: left;">
	ABCD
</div>



</body>
</html>