<!DOCTYPE html>
<html ng-app="search.module">
<head>
	<title></title>
	<style type="text/css">
		.container{
			padding-left:200px
		}

		.card{
			width: 200px;
			height: 200px;
			background-color:green;
			margin:2px;
			float: left;
		}
		input.text{
			
		}
	</style>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/elasticsearch/elasticsearch.angular.min.js"></script>
	<script type="text/javascript" src="search.js"></script>
	<script type="text/javascript" src="bower_components/infinitescroll/ng-infinite-scroll.js"></script>
</head>
<body ng-controller="searchController">
	<div class="container">
		<h1>Hello this is not using </h1>
		<input ng-model="searchobj.text" style="width: 600px;height: 30px;"type="text" name="search" placeholder="Please Enter Text">
		<input type="button" name="" ng-click="search(searchobj)" value="click me">
	</div>

	<ul style="list-style: none">
		<li class="card" ng-repeat="card in cards track by $index">
			<img style="width: 100%;height: 100%" src="https://scontent.xx.fbcdn.net/v/t31.0-8/s720x720/19442086_1015893551847774_7148495254265806741_o.jpg?oh=05e582382fd58fa9d75f24eff0827619&oe=5A0BE1B8">
			{{$index}}
		</li>
	</ul>

	<div scroll-directive="loadMore(searchobj)" infinite-scroll-distance="1.2" style="height: 300px;width: 100%;background-color: green;    float: left;">
		ABCD
	</div>
</body>
</html>